/*
  Installed from https://reactbits.dev/default/
*/

.lanyard-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 1000;
}

.lanyard-card-draggable {
  pointer-events: auto;
}